{{template "base" .}}

{{define "content"}}

    <div class="container main-content">


            <div class="container text-center mt-5">
                <h5 class="the-fort">Fort Smythe</h5>
                <p>fdfdfdfdfdff</p>

            </div>
            <div class="container">
                <div class="row mt-5">
                    <div class="col-3">
                        <img src="/static/images/interior3.jpg" style="width: 289px;">
                    </div>
                    <div class="col-6">
                        <img src="/static/images/interior4.jpeg" style="width:445px; height: 260px; margin-bottom: 10px;">
                        <img src="/static/images/interior5.jpeg" style="height: 30%; width: 180px;">
                        <img src="/static/images/interior6.jpg" style="height: 162px; width: 258px;">
                    </div>
                </div>



</div>


    </div>


{{end}}